<div class="{{flipp_css_class}}">
  <div class="front">
    {{#link-to 'offer' tile.id class="offerSingle"}}
      <div class="pricebox">
        <div class="prNew">0,<sup>77</sup></div>
        <div class="prOld">-99%</div>
      </div>
      <div class="prodImg"><span><img src="{{tile.image}}" /></span></div>
      <p class="prodTitle">{{tile.title}}</p>
      <p class="prodShop">{{tile.shop_name}}</p>
    {{/link-to}}
    <div class="c-12 leftButton {{tile.dislike_css_class}}">
      <div {{action "dislike" tile}} class="prodDislike"></div>
    </div>
    <div class="c-12 rightButton {{tile.like_css_class}}">
      <div {{action "like" tile}} class="prodLike"></div>
    </div>
    <div class="clear"></div>
    <a class="shareButton"><span class="shareLabel">Angebot teilen</span></a>
  </div>

  <div class="back">
    <p class="backClose" {{action "flipToFront"}}>Warum gefällt Dir das Angebot nicht?</p>
    <a class="backWhy" {{action "flipToThanksMessage"}}>Nicht meine Marke</a>
    <a class="backWhy" {{action "flipToThanksMessage"}}>Mag kein(e)<br>Vollmilchschokolade</a>
    <a class="backWhy" {{action "flipToThanksMessage"}}>Zu teuer</a>
    <a class="backWhy" {{action "flipToThanksMessage"}}>Sonstiges</a>
  </div>

  <div class="thnk"><p class="thnkNote">Vielen Dank für Dein Feedback!</p></div>
</div>
